<header>
  <div class="form-group">

    <% if session[:user].present? %>
      <%= "Hello #{@entity.type}-#{@entity.id}" %>
      <%= link_to "Sign Out", sign_out_path %>
    <% else %>
      <%= form_with url: entities_path, method: :post do |form| %>
        <%= form.select :type, ["User", "Team", "Stock"] %>
        <%= form.submit "Create a New Entity" %>
      <% end %>
      <%= form_with url: sign_in_path, method: :post do |form| %>
        <%= form.select :entity_id, Entity.all.map { |entity| ["#{entity.type} (#{entity.id})", entity.id] } %>
        <%= form.submit "Login" %>
      <% end %>
    <% end %>
    <%= link_to "Home", root_path %>
    <%= link_to "Api Docs", api_docs_path %>
  </div>
</header>