<table>
  <tr>
    <td>Type</td>
    <td>Created At</td>
    <td>From</td>
    <td>To</td>
    <td>Amount</td>
  </tr>
  <% transactions.each do |id, t| %>
    <tr style= "background:<%= t["transaction_type"] == 'Debit' ? 'grey' : '' %>">
      <td><%= t["transaction_type"] %></td>
      <td><%= t["created_at"] %></td>
      <td><%= t["source_wallet_id"] %></td>
      <td><%= t["target_wallet_id"] %></td>
      <td><%= t["amount"] %></td>
    </tr>
  <% end %>
</table>
