<%= render partial: 'header' %>
<% if session[:user].present? %>
  <turbo-frame id="content">
    <main>
      <div class="form-group">
        <%= label_tag 'balance', 'Balance' %>
        <h1>
          <%= @balance %>
        </h1>
      </div>
      <div class="form-group">
        <%= label_tag 'transfer-list', 'Transfer to:' %>
        <%= form_with url: transfer_path, method: :post do |form| %>
          <%= form.text_field 'amount' %>
          <%= form.select :entity_id, Entity.all.reject {|e| e.id == session["user"]["id"]}.map{ |entity| ["#{entity.type} (#{entity.id})", entity.id] } %>
          <%= form.submit "Transfer" %>
        <% end %>
      </div>
      <div class="form-group">
        <%= form_with url:deposit_path do |f| %>
          <%= f.label 'amount', 'Deposit Amount' %>
          <%= f.text_field 'amount' %>
          <%= f.submit "Submit", method: :post, class: "btn" %>
        <% end %>
      </div>
      <div class="form-group">
        <%= form_with url:withdraw_path do |f| %>
          <%= f.label 'amount', 'Withdraw Amount' %>
          <%= f.text_field 'amount' %>
          <%= f.submit "Submit", method: :post, class: "btn" %>
        <% end %>
      </div>
      <div class="form-group">
        <%= label_tag 'transaction-history', 'Transaction history:' %>
        <button id="get-transaction-history" class="btn btn-primary">Get Transaction History</button>
        <div id ="transaction_history">
          <%= render partial: 'transactions', locals: { transactions: @transactions } %>
        </div>
      </div>
    </main>
  </turbo-frame>
<% end %>
